.signup-child {
  position: absolute;
  top: -5px;
  left: 0;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 390px;
  height: 271px;
}
.logo-removebg-preview-2-icon {
  position: absolute;
  top: 76px;
  left: 72px;
  width: 237px;
  height: 205px;
  object-fit: cover;
}
.log-in-or {
  position: absolute;
  top: 353px;
  left: 107px;
  font-size: var(--font-size-3xl);
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--color-slategray-100);
}
.already-have-an,
.log-in {
  position: absolute;
  top: 743px;
  font-size: var(--font-size-sm);
}
.already-have-an {
  left: 85px;
  color: rgba(104, 92, 121, 0.75);
}
.log-in {
  left: 279px;
  color: var(--color-slategray-100);
}
.blank-line {
  margin: 0;
}
.text,
.username {
  position: absolute;
}
.text {
  top: 450px;
  left: 21px;
  font-size: var(--font-size-3xl);
  font-weight: 800;
  font-family: var(--font-roboto);
  color: #000;
}
.username {
  top: 442px;
  left: 14px;
  font-weight: 500;
}
.iphone-14-2-item {
  border: 1px solid var(--color-whitesmoke);
  background-color: transparent;
  position: absolute;
  top: 433px;
  left: 118px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 259px;
  height: 42px;
}
.mail-id {
  position: absolute;
  top: 512px;
  left: 18px;
  font-weight: 500;
}
.iphone-14-2-inner {
  border: 1px solid var(--color-whitesmoke);
  background-color: transparent;
  position: absolute;
  top: 502px;
  left: 116px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 259px;
  height: 42px;
}
.password {
  position: absolute;
  top: 591px;
  left: 15px;
  font-weight: 500;
}
.rectangle-input {
  border: 1px solid var(--color-whitesmoke);
  background-color: transparent;
  position: absolute;
  top: 582px;
  left: 116px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 259px;
  height: 42px;
}
.rectangle-div {
  position: absolute;
  top: 687px;
  left: 130px;
  border-radius: 23px;
  background-color: var(--color-slategray-100);
  width: 153px;
  height: 44px;
}
.sign-up {
  position: absolute;
  top: 697px;
  left: 176px;
  font-weight: 500;
  color: var(--color-white);
}
.frame-div {
  position: absolute;
  top: 289px;
  left: 186px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.signup {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-slategray-200);
  font-family: var(--font-poppins);
}
