.laundry-child {
  position: absolute;
  top: 760px;
  left: -1px;
  background-color: rgba(148, 139, 160, 0.39);
  border: 1px solid #948ba0;
  box-sizing: border-box;
  width: 390px;
  height: 84px;
}
.logo-removebg-preview-1-icon {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 66px;
  height: 93px;
  object-fit: cover;
}
.handyhome {
  position: absolute;
  top: 52px;
  left: 70px;
  font-size: 32px;
  font-family: var(--font-limelight);
  color: var(--color-slategray-100);
}
.vector-icon {
  position: absolute;
  height: 4.86%;
  width: 8.97%;
  top: 92.06%;
  right: 21.03%;
  bottom: 3.08%;
  left: 70%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-fill0-wght400-grad0-opsz4-icon,
.vector-icon1 {
  position: absolute;
  top: 773px;
  left: 58px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.vector-icon1 {
  height: 4.03%;
  width: 12.31%;
  top: 92.77%;
  right: 44.62%;
  bottom: 3.2%;
  left: 43.08%;
  max-width: 100%;
  max-height: 100%;
}
.number-of-pieces {
  position: absolute;
  top: 190px;
  left: 8px;
  font-size: 18px;
  font-family: var(--font-yatra-one);
  display: inline-block;
  width: 170px;
  height: 24px;
}
.required {
  position: absolute;
  top: 190px;
  left: 168px;
  font-weight: 500;
  color: var(--color-slategray-300);
}
.span {
  font-weight: 500;
  font-family: var(--font-poppins);
}
.wetdry-cleaning {
  position: absolute;
  top: 314px;
  left: 8px;
  font-family: var(--font-yatra-one);
}
.required1 {
  position: absolute;
  top: 314px;
  left: 154px;
  font-weight: 500;
  color: var(--color-slategray-300);
}
.laundry-item {
  position: absolute;
  top: 471px;
  left: 18px;
  border-radius: var(--br-11xs);
  background: linear-gradient(
    90deg,
    #edebef,
    rgba(237, 235, 239, 0.86) 11.56%,
    rgba(237, 235, 239, 0.34)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 348px;
  height: 46px;
}
.ironing,
.required2 {
  position: absolute;
  top: 441px;
}
.ironing {
  left: 8px;
  font-family: var(--font-yatra-one);
}
.required2 {
  left: 71px;
  font-weight: 500;
  color: var(--color-slategray-300);
}
.laundry-inner {
  position: absolute;
  top: 588px;
  left: 72px;
  border-radius: 35px;
  background-color: var(--color-slategray-100);
  width: 222px;
  height: 62px;
}
.book-now {
  position: absolute;
  top: 607px;
  left: 138px;
  font-weight: 500;
  color: var(--color-white);
}
.vector-icon2 {
  position: absolute;
  height: 1.66%;
  width: 4.62%;
  top: 57.58%;
  right: 8.97%;
  bottom: 40.76%;
  left: 86.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-div {
  position: absolute;
  top: 346px;
  left: 18px;
  border-radius: var(--br-11xs);
  background: linear-gradient(
    90deg,
    #edebef,
    rgba(237, 235, 239, 0.86) 11.56%,
    rgba(237, 235, 239, 0.34)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 348px;
  height: 46px;
}
.vector-icon3 {
  position: absolute;
  height: 1.66%;
  width: 4.62%;
  top: 42.89%;
  right: 8.97%;
  bottom: 55.45%;
  left: 86.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.laundry-child1 {
  position: absolute;
  top: 222px;
  left: 18px;
  border-radius: var(--br-11xs);
  background: linear-gradient(
    90deg,
    #edebef,
    rgba(237, 235, 239, 0.86) 11.56%,
    rgba(237, 235, 239, 0.34)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 348px;
  height: 46px;
}
.laundry {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-slategray-200);
  font-family: var(--font-poppins);
}
